Equation: y=m1x1+m2x2+m3x3+...+mnxn+c

In [1]:
#Setting up libraries
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
#Setting up multi variables dataset (y=mx+c)
#df = pd.read_csv("/path/to/csv")
#df = pd.read_excel("/path/to/excel")
data = {'area':  [2600,3000,3200,3600,4000],
        'bedrooms': [3,4,None,3,5],
        'age': [20,15,18,30,8],
        'price': [550000,565000,610000,680000,725000]}

df = pd.DataFrame(data)

df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [5]:
#Fill up empty values with median(cleaning dataset)
import math
median_bedrooms=math.floor(df.bedrooms.median())
print("median_bedrooms="+str(median_bedrooms))
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

median_bedrooms=3

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [8]:
#building model
model = linear_model.LinearRegression()
#can use also model.fit(df[['area','bedrooms','age']], axis='columns'),df.price)
model.fit(df.drop('price', axis='columns'),df.price)

LinearRegression()

In [12]:
#y=mx+c, showing results for all mn and c
print("mn =",model.coef_,", c =",model.intercept_)
print("y =",str(model.coef_[0]),"area +",str(model.coef_[1]),"bedrooms +",str(model.coef_[2]),"age +",str(model.intercept_))

mn = [  143.625 -6762.5     337.5  ] , c = 173112.5
y = 143.62500000000003 area + -6762.500000000018 bedrooms + 337.4999999999982 age + 173112.5

In [13]:
#predict with three variables: area, bedrooms, age to get output price
model.predict([[300,3,15]])

array([200975.])

In [ ]:
#Summary:
import pandas as pd
import numpy as np
from sklearn import linear_model

#Setting up multi variables dataset (y=mx+c)
#df = pd.read_csv("/path/to/csv")
#df = pd.read_excel("/path/to/excel")
data = {'area':  [2600,3000,3200,3600,4000],
        'bedrooms': [3,4,None,3,5],
        'age': [20,15,18,30,8],
        'price': [550000,565000,610000,680000,725000]}

df = pd.DataFrame(data)

#clean dataset
import math
median_bedrooms=math.floor(df.bedrooms.median())
print("median_bedrooms="+str(median_bedrooms))
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

model = linear_model.LinearRegression()
#can use also model.fit(df[['area','bedrooms','age']], axis='columns'),df.price)
model.fit(df.drop('price', axis='columns'),df.price)

model.predict([[300,3,15]])