#Note for practice question, learn to search google and edit others work.

In [1]:
#Data Types:
print(type("Hello World")) #--> str
print(type(90)) #--> int
print(type(9.88)) #--> float
print(type([1,2,3,'4'])) #--> list
#array contains only one type of data, list can have multiple types
#e.g array=[1,2,3,4] list=[1,2,3,'4']
#list in list/array in array(multi-dimensional)-[[1,2,3],[[12],12],3,4,'5']

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

In [2]:
#Convert DataTypes:
print(int("1")) #--> 1
print(int(5.898989989)) #--> 5
print(str(1)) #--> "1"

#Prevent quoting errors:
print("I'm Ian") #--> using different types of quote
print('I\'m Ian') #--> using \ to escape string '

#Accessing values within list/array
print([1,2,3,4][0]) #--> 1
print(['as','assdad','da'][2]) #--> 'da'

1
5
1
I'm Ian
I'm Ian
1
da

In [3]:
#Variables: assign a name to a value
a="1"
print(int(a))
mylist=[1,2,3,4]
print(mylist)
print(mylist[2])

1
[1, 2, 3, 4]
3

In [4]:
#Simple Operations
a=1
b=2
print(a*b)
print(a+b)
print(a-b)
print(a/b)

2
3
-1
0.5

In [5]:
#Advanced Operations
a=9
b=2
print(a%b)# --> find remainder when a/b
print(a//b)#quotient, c  a/b=c rd
print(a**b)#power: 9^2

1
4
81

#Compare values
a=9
b=2
a>b --> False
a<b --> True
a>=b --> True
a<=b --> False
a==b --> False

#NOTE:
a=b --> assign b's value to a
a==b --> True or False

In [6]:
#While Loops
x=0
while x<15:
    print('done')
    x=x+1

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [7]:
#For Loops
a=[1,2,4,5]
for i in a:# --> takes each value as i each time
    print(i)
for i in range(6):#range(6)-->[0,1,2,3,4,5]
    print(i)

1
2
4
5
0
1
2
3
4
5

In [8]:
#break used to escape from the loop:
x=0
while True:
    x+=1
    print(x)
    if x==5:break

1
2
3
4
5

In [9]:
#IF-ELIF-ELSE
a=5
b=3
if a>b:
    print('success')
else:
    print('fail')

if a>b:
    print('a>b')
elif a==b:
    print('a=b')
elif a*b==1:
    print('1')
elif a**b==1:
    print('2')
else:
    print('a<b')

success
a>b

In [10]:
#Function:
def Ian():#--> start a function
    print("I'm Ian")

Ian()

def Ian(a,b,c,d):
    print(a)
    print(b+c)
    
Ian('as',2,3,'ashjd')

I'm Ian
as
5

In [11]:
#library
import math

int(math.sqrt(49))

7

In [12]:
a=input() #--> always get values as a str
print(a)
a=int(input("enter a value please: ")) #--> can add words before user input
print(a)

as
as
enter a value please: 12
12

In [13]:
#adding values to string and list
a=[1,2,3,4]
a.append(5)
a.insert(1,1.5) #--> .insert(index,value)
a

[1, 1.5, 2, 3, 4, 5]

Practice Question 1:
ask for the client input either 'y' or 'n'
if 'y' --> print random number between 0-1
if 'n' --> print random number between 0-100(integer)

In [14]:
import random

a=input("Please enter 'y' or 'n': ")
if a=='y':
    print(random.uniform(0, 1))
elif a=='n':
    print(random.randint(0,100))

Please enter 'y' or 'n': n
79

Practice Question 2:
Find the number of palindromes between 10-1000
Palindromes are numbers equals to each other when reversed

In [15]:
x=0
for i in range(10,1001): #--> range(10,1001)=[10,11,12,...,1000]
    if str(i)==str(i)[::-1]:
        x+=1
        
print(x)

99